.main-header {
  background: transparent;
  padding: 1.15rem;
  background-color: var(--bcgColor1);
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  opacity: 1;
}

.search {
  background-color: var(--bcgColor5);
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  margin-left: 0.9rem;
  height: 2.3rem;
  width: 42%;
  padding-left: 1rem;
  transition: border 2s;
}

.search-input {
  border: none;
  outline: none;
  background-color: var(--bcgColor5);
  color: var(--textColor4);
  outline: none;
  color: white;
  font-size: 0.85rem;
  font-weight: 100;
  width: 100%;
  margin-left: 0.5rem;
}

.search-input::placeholder {
  color: var(--textColor2);
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
}

.search:hover {
  border: 1px solid var(--borderColor5);
}

@media only screen and (max-width: 1280px) {
  .main-header {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
