.switch-btn {
    position: absolute;
    background-color: var(--bcgColor4);
    border-radius: 8px;
    height: 90%;
    width: 49%;
    display: flex;
    justify-content: center;
    left: 3%;
  }
  
  .item1,
  .item2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--borderColor3);
    width: 50%;
    padding: 0.7rem;
    font-size: 0.9rem;
    height: 100%;
    z-index: 5;
  }
  
  .item2 {
    margin-left: 0.5rem;
    color: var(--quartz);
    filter: brightness(5);
  }
  
  .goToRight {
    animation: goRight 0.5s forwards;
  }
  
  .goToLeft {
    animation: goLeft 0.5s forwards;
  }
  
  @keyframes goRight {
    from {
      left: 3%;
    }
  
    to {
      left: 48%;
    }
  }
  
  @keyframes goLeft {
    from {
      left: 48%;
    }
  
    to {
      left: 3%;
    }
  }