.right-sidebar {
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--bcgColor3);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
}

.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.right-sidebar::-webkit-scrollbar {
  display: none;
}

.login-btn,
.processing-btn-login {
  margin-top: 0.9rem;
  background: var(--blue);
  border: none;
  width: 15.5%;
  padding: 0.75rem 0.8rem;
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  width: 85%;
  border: none;
  height: 1px;
  background: var(--borderColor2);
}

.calendar-btn {
  border: none;
  background-color: var(--bcgColor5);
  color: var(--textColor7);
  border-radius: 5px;
  width: 85%;
  padding: 0.9rem 0rem;
  color: var(--textColor2);
  font-size: 0.95rem;
  cursor: pointer;
  margin-bottom: 3.5rem;
}

.right-sidebar footer {
  width: 85%;
  margin-bottom: 12rem;
}

.right-sidebar footer p {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--textColor2);
}

label {
  color: var(--quartz);
}
.right-sidebar footer p a {
  transition: 0.3s all;
  color: var(--blue);
}

.login-dropdown__fb,
.login-dropdown__scopely,
.processing-btn {
  font-size: 0.9rem;
  width: 100%;
  position: relative;
  height: 2.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.user-settings-dropdown {
  width: 100%;
  position: absolute;
}

.login-dropdown {
  margin-top: 4.8rem;
  position: fixed;
  width: 15.5%;
}

.kep-login-facebook {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.login-dropdown__fb p {
  position: absolute;
}

.login-dropdown__fb,
.processing-btn {
  background-color: var(--bcgColor8);
}

.login-dropdown__scopely {
  background-color: var(--borderColor5);
}

.d-none {
  display: none;
}

.right-sidebar__heading {
  color: var(--quartz);
  font-weight: 600;
  font-size: 1.1rem;
  z-index: 500;
  padding: 1.5rem;
}

.user {
  width: 85%;
  position: relative;
}

.user__points {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14rem;
}

.settings-icon {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  background-color: var(--rhino);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 2.9rem;
  left: 7.5rem;
  box-sizing: content-box;
  border: 0.3rem solid var(--bcgColor3);
  margin-bottom: -3rem;
}

.user__setting-item {
  font-size: 0.8rem;
  color: var(--quartz);
  cursor: pointer;
}
