.nav-item {
  display: flex;
  align-items: center;
  list-style: none;
  color: var(--textColor2);
  height: 3rem;
  cursor: pointer;
  transition: 0.5s all;
  font-size: 0.875rem;
  font-weight: 600;
  width: 100%;
  position: relative;
  margin-bottom: .8rem;
}
.nav-item_content {
  display: flex;
  align-items: center;
}
.nav-item_icon {
  margin-left: 1.5rem;
  margin-right: 1rem;
  fill: var(--textColor2);
  transition: 0.5s all;
}

.nav-item:hover .nav-item_icon {
  fill: var(--svgColor1);
}

.nav-item:hover {
  color: var(--textHoverColor1);
}

.nav-item--active .nav-item_icon {
  fill: var(--svgColor1);
}

.nav-item--active {
  color: var(--textHoverColor1);
}

.nav-item--active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 2px solid var(--borderColor4);
  bottom: 0;
  width: 30px;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(36, 216, 150, 0.2),
    rgba(38, 227, 175, 0)
  );
}

.nav-item_new {
  display: inline-block;
  background-color: var(--rhino);
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
  margin-left: 1rem;
  font-size: 0.7rem;
  font-weight: 600;
  color: var( --textColor3);
}
