.arrow {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: var(--bcgColor7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
}

.slick-disabled-arrow {
    display: none;
}