.event-card {
    width: 100%;
    padding: .8rem .6rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.event-card__description {
   margin-left: .5rem;
}

.round-icon {
    border-radius: 100%;
    height: 2.3rem;
    width: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bcgColor7);
}

.event-card__title {
    color: var(--quartz);
    font-size: .75rem;
    font-weight: 600;
    margin-bottom: .3rem;
}

.event-card__about {
    color: var(--textColor6);
    font-size: .6rem;
}