.main-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 15rem 1fr 17.5rem;
  grid-template-rows: 4.5rem 1fr;
}

.main {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--bcgColor1);
  overflow-y: scroll;
}

.main::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .left-sidebar {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  .main-header,
  .main {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
