.rankcard-container {
    background-color: var(--bcgColor5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 98%;
}

.rankcard__classification {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--textColor2);
    font-size: .75rem;
    font-weight: 500;
    width: 95%;
}