.logo-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.image {
  height: 35px;
  width: 35px;
}

.home-page {
  font-size: 0.8rem;
  color: var(--quartz);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.home-page__title {
  cursor: pointer;
}

.official-page {
  color: var(--blue);
}

